html
  box-sizing: border-box
  font-size: 20px
  
*, *::before, *::after
  box-sizing: inherit

body
  font-family: $font-primari
  background-color: #ffffff
  overflow-x: hidden

a
  text-decoration: none
  color: inherit

.hidden
  width: 0
  height: 0
  visibility: hidden

.container
  max-width: 1600px
  margin: 0 auto

.wrapper
  max-width: 1180px
  margin: 0 auto
  position: relative
  @media (max-width: $md)
    margin: 0 30px

.mr-40
  margin-right: 40px