/* raleway-regular - latin */
@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  src: url('../../fonts/raleway/raleway-v18-latin-regular.eot')
  src: local(''), url('../../fonts/raleway/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/raleway/raleway-v18-latin-regular.woff2') format('woff2'), url('../../fonts/raleway/raleway-v18-latin-regular.woff') format('woff'), url('../../fonts/raleway/raleway-v18-latin-regular.ttf') format('truetype'), url('../../fonts/raleway/raleway-v18-latin-regular.svg#Raleway') format('svg')

/* raleway-600 - latin */
@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 600
  src: url('../../fonts/raleway/raleway-v18-latin-600.eot')
  src: local(''), url('../../fonts/raleway/raleway-v18-latin-600.eot?#iefix') format('embedded-opentype'), url('../../fonts/raleway/raleway-v18-latin-600.woff2') format('woff2'), url('../../fonts/raleway/raleway-v18-latin-600.woff') format('woff'), url('../../fonts/raleway/raleway-v18-latin-600.ttf') format('truetype'), url('../../fonts/raleway/raleway-v18-latin-600.svg#Raleway') format('svg')

/* raleway-800 - latin */
@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 800
  src: url('../../fonts/raleway/raleway-v18-latin-800.eot')
  src: local(''), url('../../fonts/raleway/raleway-v18-latin-800.eot?#iefix') format('embedded-opentype'), url('../../fonts/raleway/raleway-v18-latin-800.woff2') format('woff2'), url('../../fonts/raleway/raleway-v18-latin-800.woff') format('woff'), url('../../fonts/raleway/raleway-v18-latin-800.ttf') format('truetype'), url('../../fonts/raleway/raleway-v18-latin-800.svg#Raleway') format('svg')

/* proxima-nova-bold - latin */
@font-face
  font-family: 'ProximaNova'
  font-style: normal
  font-weight: 400
  src: url('../../fonts/proximanova/ProximaNova-Regular.eot')
  src: local(''), url('../../fonts/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/proximanova/ProximaNova-Regular.woff') format('woff'), url('../../fonts/proximanova/ProximaNova-Regular.ttf') format('truetype')

/* proxima-nova-semi-bold - latin */
@font-face
  font-family: 'ProximaNova'
  font-style: normal
  font-weight: 600
  src: url('../../fonts/proximanova/ProximaNova-Semibold.eot')
  src: local(''), url('../../fonts/proximanova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../../fonts/proximanova/ProximaNova-Semibold.woff') format('woff'), url('../../fonts/proximanova/ProximaNova-Semibold.ttf') format('truetype')

/* proxima-nova-bold - latin */
@font-face
  font-family: 'ProximaNova'
  font-style: normal
  font-weight: 700
  src: url('../../fonts/proximanova/ProximaNova-Bold.eot')
  src: local(''), url('../../fonts/proximanova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/proximanova/ProximaNova-Bold.woff') format('woff'), url('../../fonts/proximanova/ProximaNova-Bold.ttf') format('truetype')
