.button-up
  width: 75px
  position: fixed
  z-index: 5
  right: 30px
  bottom: 27px
  cursor: pointer
  visibility: hidden
  opacity: 0
  transition: opacity .5s ease
  &.show
    opacity: 1
    visibility: visible
  @media (max-width: 440px)
    width: 50px
    bottom: 35px