.footer
  padding: 56px 0 46px
  background-color: #363636
  &__wrapper
    display: flex
    justify-content: space-between
    @media (max-width: 760px)
      flex-wrap: wrap
      justify-content: center

  &__twitter
    width: 300px
    height: 300px
    overflow: hidden
    flex-shrink: 0

  &__lists
    flex-grow: 1
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-left: 100px
    @media (max-width: $md)
      margin-left: 50px
    @media (max-width: 760px)
      margin-left: 0
      margin-top: 30px
      justify-content: center
  &__list
    width: 33%
    min-width: 165px
    @media (max-width: 760px)
      width: 100%
      margin-bottom: 10px
  &__head
    display: flex
    align-items: center
    margin-bottom: 10px
  &__hexagon
    width: 9px
    height: 5px
    background-color: $color-second
    position: relative
    &::before
      +hexagon($color-second)
      +hexagon-before()
    &::after
      +hexagon($color-second)
      +hexagon-after()
  &__title
    margin-left: 7px
    font-size: 14px
    font-weight: 700
    color: $color-second
    text-transform: uppercase

  &__links
    display: flex
    flex-direction: column
  &__link
    font-size: 14px
    line-height: 24px
    text-transform: uppercase
    color: $text-light
    transition: all .1s ease-in-out
    span
      margin-left: 10px
      @media (max-width: $md)
        margin-left: 0

a.footer__link:hover
  color: darken($text-light, 25)


.twitter
  font-family: "Myriad Pro", sans-serif
  &__header
    display: flex
    position: relative
    z-index: 2
  &__icon
    width: 60px
    height: 60px
    background-color: #5634d1
    display: flex
    justify-content: center
    align-items: center
  &__user
    flex-grow: 1
    background-color: $color-primary
    color: $text-light
    padding: 0 10px
    display: flex
    flex-direction: column
    justify-content: center
  &__name
    font-size: 24px
  &__descr
    font-size: 14px
  &__body
    position: relative
    top: -44px

.copyright
  background-color: #252525
  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    p
      text-transform: uppercase
      text-align: center
      font-family: $font-second
      color: #9b9b9b
      margin: 10px 5px
      font-size: 10px
