$sm: 635px

%burger_button
  position: absolute
  top: 50%
  margin-top: -1px
  left: 50%
  margin-left: -10px
  width: 20px
  height: 2px
  background-color: #222

%pseudo_elems
  content: ''
  display: block
  transition: .2s

.header
  display: flex
  flex-wrap: wrap
  align-items: center
  padding: 20px 0
  position: absolute
  width: 100%
  &__menu
    flex-grow: 0.5
    text-align: right
    margin: 10px 0
    @media (max-width: $sm)
      width: 100vw
      height: 100vh
      margin: 0
      left: 0
      background-color: rgba(112, 80, 229, .9)
  &__burger-container
    flex-grow: 0.5
    align-self: flex-start
    display: flex
    justify-content: flex-end
  &__burger
    display: none
    cursor: pointer
    position: relative
    z-index: 10001
    @media (max-width: $sm)
      display: block
      width: 40px
      height: 40px
      margin: 5px 10px
      background-color: #fff
      border-radius: 50%
    span
      @extend %burger_button
      &:before
        @extend %pseudo_elems
        @extend %burger_button
        transform: translateY(-5px)
      &:after
        @extend %pseudo_elems
        @extend %burger_button
        transform: translateY(5px)
    &--active
      span
        height: 0
        &:before
          transform: rotate(45deg)
        &:after
          transform: rotate(-45deg)

.logo
  flex-grow: 0.5
  margin: 10px 0 10px auto

.nav
  position: relative
  &__item
    text-transform: uppercase
    font-size: 14px
    font-weight: 700
    margin-left: 10px
    color: $text-light
    padding: 8px 6px
    &:hover, &--active
      border-bottom: 3px solid $color-second
    @media (max-width: $sm)
      margin-bottom: 10px
      border-bottom: 3px solid transparent
      &--active
        border-bottom: 3px solid $color-second
  @media (max-width: $sm)
    display: flex
    flex-direction: column
    position: fixed
    align-items: center
    top: -100vh
    padding-top: 50px
    z-index: 10000
    transition: top .3s linear
    &--visible
      top: 0

