.hero
  background: url("../../img/Polygon-Background.png") no-repeat center
  background-size: cover
  color: $text-light
  padding-bottom: 20px
  padding-top: 230px

.slider
  position: relative
  &__container
    position: relative
    overflow: hidden
  &__slides
    position: relative
    display: flex
    left: 0
    transition: left .5s linear
  &__dots
    position: absolute
    right: 5px
    top: 50%
    transform: translateY(-50%)
  &__dot
    cursor: pointer
    width: 18px
    height: 10px
    margin: 20px
    position: relative
    border-left: 3px solid #ffffff
    border-right: 3px solid #ffffff
    &::before
      +hexagon-border(3px, #ffffff)
      +hexagon-before()
    &::after
      +hexagon-border(3px, #ffffff)
      +hexagon-after()
    &.active
      border: none
      background-color: $color-second
      &::before
        border: none
        +hexagon($color-second)
        +hexagon-before()
      &::after
        border: none
        +hexagon($color-second)
        +hexagon-after()
    @media (max-width: 699px)
      margin: 20px 10px



.slide
  display: flex
  align-items: center
  position: relative
  width: 100%
  flex-shrink: 0
  &__description
    padding: 80px
    width: 66%
    margin-bottom: 20px
    @media (max-width: 699px)
      width: 100%
      padding: 10px 20px
      text-align: center
  &__title
    font-size: 55px
    font-weight: 700
    @media (max-width: 497px)
      font-size: 40px
    @media (max-width: 361px)
      font-size: 35px
  &__text
    font-size: 16px
    font-weight: 600
    width: 80%
    line-height: 30px
    margin-bottom: 35px
    @media (max-width: 699px)
      width: 100%
    @media (max-width: 361px)
      font-size: 14px
  &__img
    width: 33%
    padding: 10.5%
    @media (max-width: 699px)
      display: none

.scroll-description
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  text-align: center

.hexagon
  display: flex
  align-items: center
  justify-content: center
  margin: 42px auto
  width: 60px
  height: 34px
  position: relative
  border-left: 3px solid $color-second
  border-right: 3px solid $color-second
  &::before
    +hexagon-border(3px, $color-second)
    +hexagon-before()
  &::after
    +hexagon-border(3px, $color-second)
    +hexagon-after()
  &__arrow
    display: block
    width: 30px
    height: 4px
    position: relative
    top: -2px
    &::before,
    &::after
      content: ''
      position: absolute
      z-index: 1
      width: 70%
      height: 100%
      background-color: $color-second
      border-radius: 2px
    &::before
      transform-origin: 0 center
      transform: rotate(40deg)
    &::after
      right: 0
      transform-origin: 100% center
      transform: rotate(-40deg)
  &:hover
    background-color: $color-second
    &::before, &::after
      background-color: $color-second
    .hexagon__arrow
      &::before, &::after
        background-color: $color-primary
