.numbers
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  margin: 110px auto
  &__block
    max-width: 252px
    text-align: center
    margin: 17px
    color: $color-primary
  &__number
    font-size: 60px
    font-weight: 700
    margin-bottom: 7px
  &__description
    font-size: 15px
    font-weight: 700
    text-transform: uppercase
