=pseudo-elem()
  content: ''
  position: absolute
  width: 50%
  height: 2px
  top: 50%
  left: 50%
  background-color: #fff
  transform-origin: center

.popup
  position: fixed
  display: flex
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.9)
  justify-content: center
  align-items: center
  z-index: 1000
  opacity: 0
  visibility: hidden
  transition: all .8s ease 0s
  &__content
    width: 100%
    max-width: 800px
    position: relative
    transition: all .8s ease 0s
    transform: translate(0px, -100%)
    video
      width: 100%
  &__close
    width: 30px
    height: 30px
    background-color: #000000
    position: absolute
    right: 10px
    top: 10px
    border-radius: 50%
    cursor: pointer
    &::before
      +pseudo-elem()
      transform: translate(-50%, -50%) rotate(-45deg)
    &::after
      +pseudo-elem()
      transform: translate(-50%, -50%) rotate(45deg)

  &.open
    opacity: 1
    visibility: visible
    .popup__content
      transform: translate(0, 0)