.product
  background-color: #ffffff
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 96px 0 120px

  &__description
    max-width: 556px
    padding-right: 100px
    margin: 20px 0
    @media (max-width: 600px)
      padding-right: 0
      margin: 30px
      text-align: center
  &__title
    font-size: 40px
    font-weight: 700
    color: $color-primary
  &__text
    font-size: 15px
    color: $text-primary
    line-height: 1.5
    padding: 10px 0 27px

.video-box
  position: relative
  &__button
    cursor: pointer
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &__description
    position: absolute
    bottom: 100px
    width: 100%
    text-align: center
    color: $text-light
    font-family: $font-second
    letter-spacing: 2px
    @media (max-width: 697px)
      bottom: 10%
  &__text
    font-size: 16px
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 10px
    @media (max-width: 600px)
      font-size: 14px
    @media (max-width: 375px)
      display: none
  &__title
    font-size: 32px
    font-weight: 800
    text-transform: uppercase
    @media (max-width: 600px)
      font-size: 20px
