.ready
  background: url("../../img/ready-bg.jpg") no-repeat center
  background-size: cover
  height: 217px
  &__wrapper
    height: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    @media (max-width: 627px)
      justify-content: center
  &__text
    font-size: 40px
    font-weight: 700
    color: $text-light
    text-align: center