$sm: 737px
$xs: 480px

.we-do
  background-color: #f8f8f8
  padding: 120px 0 94px
  &__title
    font-size: 60px
    font-weight: 700
    text-align: right
    color: $color-primary
    margin-right: 72px
    padding-right: 40px
    position: relative
    @media (max-width: $sm)
      text-align: center
      margin: 0
      padding: 0
    @media (max-width: $xs)
      font-size: 50px
    &::before, &:after
      content: ''
      position: absolute
      top: -22px
      right: 0
      background-color: $color-second
    &::before
      width: 44px
      height: 12px
      @media (max-width: $xs)
        width: 35px
        height: 10px
    &::after
      width: 12px
      height: 44px
      @media (max-width: $xs)
        width: 10px
        height: 35px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__item
    max-width: 330px
    padding: 20px
    @media (max-width: $sm)
      max-width: 100%

.card
  display: flex
  flex-direction: column
  &__img
    height: 150px
    align-self: center
    margin-bottom: 18px
    display: flex
    align-items: flex-end
  &__title
    font-size: 18px
    font-weight: 700
    color: $color-primary
    text-transform: uppercase
    margin-bottom: 10px
    @media (max-width: $sm)
      text-align: center
  &__description
    font-size: 15px
    color: $text-primary
    line-height: 1.3