.btn
  display: inline-block
  text-transform: uppercase
  background-color: $color-second
  padding: 16px 40px
  border-radius: 3px
  color: $text-light
  font-size: 14px
  font-weight: 700
  transition: all .1s ease-in-out

  &:hover
    background-color: darken($color-second, 9)