=hexagon($color)
  content: ''
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-color: $color
  transform-origin: center center

=hexagon-border($px, $color)
  content: ''
  position: absolute
  width: calc(100% + 6px)
  height: 100%
  left: -$px
  top: 0
  border-right: $px solid $color
  border-left: $px solid $color
  transform-origin: center center

=hexagon-before()
  transform: rotate(60deg)

=hexagon-after()
  transform: rotate(-60deg)